<ion-toolbar *ngIf="!notshowHeader">
    <ion-button fill="clear" (click)="back()">
        <ion-icon class="back-button" slot="start" name="chevron-back-outline"></ion-icon>
        <ion-label>VOLTAR</ion-label>


    </ion-button>

    <ion-buttons slot="end">
        <ion-spinner name="bubbles" *ngIf="updatting"></ion-spinner>
        <ion-button (click)="update()" *ngIf="!updatting" fill="clear">
            <ion-icon name="save-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>

<div *ngIf="is_saving" class="spinner">
    <ion-spinner name="dots"></ion-spinner>
    <ion-label>Salvando</ion-label>
    <ion-spinner name="dots"></ion-spinner>
</div>
<div *ngIf="!is_saving">
    <ion-fab vertical="center" horizontal="end">
        <ion-fab-button (click)="update()">
            <ion-icon name="save"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="div-title">
                    <p> Nível de relacionamento: {{ paper?.relationship_level}}</p>
                    <p> {{ paper?.title | uppercase}}</p>
                    <ion-note>{{paper?.authors}}</ion-note>
                    <ion-note *ngIf="paper?.doi">Doi: {{paper?.doi}}</ion-note>
                    <ion-note>Ano: {{paper?.publication_year}}</ion-note>
                    <ion-note>Link: {{paper?.link}}</ion-note>
                    <ion-note>Tipo: {{paper?.type}}</ion-note>
                    <ion-note>Nº: {{paper?.id}}</ion-note>
                </div>

            </ion-col>
        </ion-row>

        <ion-row class="abstract">
            <ion-col>
                <ion-item>
                    <ion-title>Abstract</ion-title>
                    <ion-button (click)="decrease()">
                        <ion-icon name="remove-outline"></ion-icon>
                    </ion-button>
                    <ion-button (click)="increase()">
                        <ion-icon name="add-outline"></ion-icon>
                    </ion-button>
                    <ion-icon slot="end" src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" (click)="openSciHub()"></ion-icon>

                </ion-item>
                <ion-text>
                    <p [ngStyle]="{'font-size': abstract_size+'pt'}">{{paper?.abstract}}</p>
                </ion-text>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-title></ion-title>
                <ion-radio-group [value]="paper?.relevance" mod="ios" (ionChange)="setRelevance($event)">
                    <ion-list-header>
                        <ion-label>*Relevância</ion-label>
                    </ion-list-header>
                    <div class="relevance">

                        <div lines='none'>
                            <ion-label>Baixa</ion-label>
                            <ion-radio slot="start" value="1"></ion-radio>
                        </div>

                        <div lines='none'>
                            <ion-label>Média</ion-label>
                            <ion-radio slot="start" value="2"></ion-radio>
                        </div>

                        <div lines='none'>
                            <ion-label>Alta</ion-label>
                            <ion-radio slot="start" value="3"></ion-radio>
                        </div>
                    </div>

                </ion-radio-group>
            </ion-col>
            <ion-col>

                <ion-item lines='none'>
                    <ion-button slot="end" fill="outline" (click)="descart()">
                        <ion-label>Descartar</ion-label>
                    </ion-button>
                    <ion-icon slot="end" color="primary" name="star-outline" *ngIf="!paper?.star" (click)="setStar()"></ion-icon>
                    <ion-icon slot="end" color="primary" name="star-sharp" *ngIf="paper?.star" (click)="setStar()"></ion-icon>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row class="issue">
            <ion-col>
                <ion-title>Problema</ion-title>
                <ion-textarea rows="5" cols="5" maxlength="500" [value]="paper?.issue" (keyup)="setIssue($event)"></ion-textarea>
                <ion-note>{{paper?.issue?.length}}/500</ion-note>
            </ion-col>
        </ion-row>

        <ion-row class="issue">
            <ion-col>
                <ion-title>Objetivos</ion-title>
                <ion-textarea rows="5" cols="5" maxlength="500" [value]="paper?.goals" (keyup)="goals($event)"></ion-textarea>
                <ion-note>{{paper?.goals?.length}}/500</ion-note>
            </ion-col>
        </ion-row>


        <ion-row class="issue">
            <ion-col>
                <ion-title>Metodologia</ion-title>
                <ion-textarea rows="5" cols="5" maxlength="2000" [value]="paper?.research_methodology" (keyup)="research_methodology($event)"></ion-textarea>
                <ion-note>{{paper?.research_methodology?.length}}/2000</ion-note>
            </ion-col>
        </ion-row>


        <ion-row class="issue">
            <ion-col>
                <ion-title>Abordagens</ion-title>
                <ion-textarea rows="5" cols="5" maxlength="2000" [value]="paper?.approach" (keyup)="approach($event)"></ion-textarea>
                <ion-note>{{paper?.approach?.length}}/2000</ion-note>
            </ion-col>
        </ion-row>


        <ion-row class="issue">
            <ion-col>
                <ion-title>Principais contribuições</ion-title>
                <ion-textarea rows="5" cols="5" maxlength="2000" [value]="paper?.main_contribuition" (keyup)="mainCotribuition($event)"></ion-textarea>
                <ion-note>{{paper?.main_contribuition?.length}}/2000</ion-note>
            </ion-col>
        </ion-row>

        <ion-row class="issue">
            <ion-col>
                <ion-title>Problemas em aberto</ion-title>
                <ion-textarea rows="5" cols="5" maxlength="2000" [value]="paper?.open_works" (keyup)="open_works($event)"></ion-textarea>
                <ion-note>{{paper?.open_works?.length}}/2000</ion-note>
            </ion-col>
        </ion-row>

        <ion-row class="issue">
            <ion-col>
                <ion-title>Trabalhos futuros</ion-title>
                <ion-textarea rows="5" cols="5" maxlength="500" [value]="paper?.future_work" (keyup)="future_work($event)"></ion-textarea>
                <ion-note>{{paper?.future_work?.length}}/500</ion-note>
            </ion-col>
        </ion-row>

        <ion-row class="issue">
            <ion-col>
                <ion-title>Técnicas</ion-title>
                <ion-textarea rows="5" cols="5" maxlength="2000" [value]="paper?.techinique" (keyup)="techinique($event)"></ion-textarea>
                <ion-note>{{paper?.techinique?.length}}/2000</ion-note>
            </ion-col>
        </ion-row>
        <ion-row class="issue">
            <ion-col>
                <ion-title>Hipótesis</ion-title>
                <ion-textarea rows="5" cols="5" maxlength="500" [value]="paper?.hypothesis" (keyup)="hypothesis($event)"></ion-textarea>
                <ion-note>{{paper?.hypothesis?.length}}/500</ion-note>
            </ion-col>
        </ion-row>

        <ion-row class="issue">
            <ion-col>
                <ion-title>Métricas de avaliação</ion-title>
                <ion-textarea rows="5" cols="5" maxlength="500" [value]="paper?.evaluation_metrics" (keyup)="evaluation_metrics($event)"></ion-textarea>
                <ion-note>{{paper?.evaluation_metrics?.length}}/500</ion-note>
            </ion-col>
        </ion-row>

        <ion-row class="issue">
            <ion-col>
                <ion-title>Ferramentas e recursos</ion-title>
                <ion-textarea rows="5" cols="5" maxlength="500" [value]="paper?.features" (keyup)="features($event)"></ion-textarea>
                <ion-note>{{paper?.features?.length}}/500</ion-note>
            </ion-col>
        </ion-row>

        <ion-row class="issue">
            <ion-col>
                <ion-title>Link do código</ion-title>
                <ion-textarea rows="5" cols="5" maxlength="500" [value]="paper?.codelink" (keyup)="codelink($event)"></ion-textarea>
                <ion-note>{{paper?.codelink?.length}}/500</ion-note>
            </ion-col>
        </ion-row>


        <ion-row class="issue">
            <ion-col>
                <ion-title>Complexidade de algoritmo</ion-title>
                <ion-textarea rows="5" cols="5" maxlength="500" [value]="paper?.algorithm_comolexity" (keyup)="algorithm_comolexity($event)"></ion-textarea>
                <ion-note>{{paper?.algorithm_comolexity?.length}}/500</ion-note>
            </ion-col>
        </ion-row>



        <ion-row class="issue">
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Baselines</ion-label>
                    <ion-input placeholder="Digite um item e pressione enter para inserir à lista" #baselineionInput (keyup.enter)="setBaseline($event, baselineionInput)"></ion-input>
                </ion-item>

                <ion-chip *ngFor="let item of baselines; let i=index" mod="ios" outline="true">
                    <ion-label>{{item}}</ion-label>
                    <ion-icon (click)="onRemoveBaseLine(i)" name="close-outline"></ion-icon>
                </ion-chip>
            </ion-col>

        </ion-row>

        <ion-row class="issue">
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Datasets</ion-label>
                    <ion-input placeholder="Digite um item e pressione enter para inserir à lista" #datasetsionInput (keyup.enter)="setDatasets($event, datasetsionInput)"></ion-input>
                </ion-item>

                <ion-chip *ngFor="let item of datasets; let i=index" mod="ios" outline="true">
                    <ion-label>{{item}}</ion-label>
                    <ion-icon (click)="onRemoveDatasets(i)" name="close-outline"></ion-icon>
                </ion-chip>
            </ion-col>

        </ion-row>


        <ion-row class="issue">
            <ion-col>
                <ion-item>
                    <ion-label position="floating">My notes</ion-label>
                    <ion-input placeholder="Digite um item e pressione enter para inserir à lista" #observationInput (keyup.enter)="setObservation($event, observationInput)"></ion-input>
                </ion-item>

                <ion-chip *ngFor="let item of observations; let i=index" mod="ios" outline="true">
                    <ion-label>{{item}}</ion-label>
                    <ion-icon (click)="onRemoveObservation(i)" name="close-outline"></ion-icon>
                </ion-chip>
            </ion-col>

        </ion-row>


        <ion-row class="issue">
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Linguagens</ion-label>
                    <ion-input placeholder="Digite um item e pressione enter para inserir à lista" #lenguagesInput (keyup.enter)="setLenguages($event, lenguagesInput)"></ion-input>
                </ion-item>

                <ion-chip *ngFor="let item of lenguages; let i=index" mod="ios" outline="true">
                    <ion-label>{{item}}</ion-label>
                    <ion-icon (click)="onRemoveLenguage(i)" name="close-outline"></ion-icon>
                </ion-chip>
            </ion-col>

        </ion-row>
    </ion-grid>




</div>