.progress {
    position: fixed;
}

.upload {
    border-radius: 20px;
    background: var(--ion-color-primary);
    ion-label {
        margin: 10px;
        color: var(--ion-color-light);
    }
    ion-icon {
        color: var(--ion-color-light);
    }
}

.cancel {
    border-radius: 20px;
    background: var(--ion-color-danger);
    ion-label {
        margin: 10px;
        color: var(--ion-color-light);
    }
}

.div-title {
    margin: 5px;
    display: grid;
    align-items: flex-start;
    ion-label {
        font-size: 12pt;
        font-family: Qanelas-bold;
    }
    ion-note {
        margin: 5px;
        font-size: 10pt;
        font-family: Qanelas-light;
        color: var(--ion-color-tertiary)
    }
}

pdf-viewer {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px #222222);
}

.abstract {
    ion-title {
        font-family: Qanelas-bold;
    }
}

ion-text {
    p {
        width: 100%;
        text-align: justify;
    }
}

.relevance {
    display: flex;
}

.issue {
    ion-textarea {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: justify;
        border: 1px dotted var(--ion-color-tertiary);
    }
}

.star-sharp {
    font-size: 40px;
    color: yellow;
}

.set-paper {
    display: flex;
    align-content: center;
    ion-input {
        box-shadow: 2px 2px 2px 2px var(--ion-color-medium);
        min-width: 100px;
    }
    ion-label {
        margin: 10px;
    }
}
