<!-- Study development -->
<div *ngIf="!loading" class="spinner">
    <ion-spinner name="dots"></ion-spinner>
    <ion-label>Carregando estudos</ion-label>
    <ion-spinner name="dots"></ion-spinner>
</div>

<div *ngIf="loading">
    <ion-grid *ngIf="papers.length===0">
        <ion-row>
            <ion-col class="init-upload">
                <div (click)="initUpload()">
                    <ion-icon name="cloud-upload-outline"></ion-icon>
                    <ion-label>CARREGAR CSV</ion-label>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="papers.length>0">

        <ion-row>
            <ion-col>
                <ion-radio-group [value]="base?.name" mod="ios" (ionChange)="onSelectBase($event)">

                    <div class="relevance">

                        <div lines='none'>
                            <ion-label>IEEE</ion-label>
                            <ion-radio slot="start" value="IEEE"></ion-radio>
                        </div>

                        <div lines='none'>
                            <ion-label>SPRINGER LINK</ion-label>
                            <ion-radio slot="start" value="SPRINGER LINK"></ion-radio>
                        </div>

                        <div lines='none'>
                            <ion-label>SCOPUS</ion-label>
                            <ion-radio slot="start" value="SCOPUS"></ion-radio>
                        </div>
                        <div lines='none'>
                            <ion-label>TODAS</ion-label>
                            <ion-radio slot="start" value="TODAS"></ion-radio>
                        </div>
                        <ion-item lines="none">
                            <ion-icon name="refresh-circle-outline" (click)="load()"></ion-icon>
                        </ion-item>

                    </div>

                </ion-radio-group>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label>Progresso {{progress | percent}} </ion-label>
                <ion-progress-bar [value]="progress"></ion-progress-bar>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col offset="1" size="2">
                <ion-icon name="play-skip-back-outline" (click)="backPaper()"></ion-icon>
            </ion-col>

            <ion-col size="4">
                <div class="set-paper">
                    <ion-input [value]="selectedId" (keyup)="setPaper($event)"></ion-input>
                    <ion-label>/{{papers.length}}</ion-label>
                </div>

            </ion-col>

            <ion-col offset="2" size="2">
                <ion-icon name="play-skip-forward-outline" (click)="nextPaper()"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-paper-selected [paper]="selectedPaper" *ngIf="selectedPaper" (returnPage)="returnPageAdmin($event)"></app-paper-selected>
    <ion-grid *ngIf="papers.length>0">

        <ion-row>
            <ion-col>
                <ion-label>Progresso {{progress | percent}} </ion-label>
                <ion-progress-bar [value]="progress"></ion-progress-bar>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col offset="1" size="2">
                <ion-icon name="play-skip-back-outline" (click)="backPaper()"></ion-icon>
            </ion-col>

            <ion-col size="4">
                <div class="set-paper">
                    <ion-input [value]="selectedId" (keyup)="setPaper($event)"></ion-input>
                    <ion-label>/{{papers.length}}</ion-label>
                </div>

            </ion-col>

            <ion-col offset="1" size="2">
                <ion-icon name="play-skip-forward-outline" (click)="nextPaper()"></ion-icon>
            </ion-col>



        </ion-row>

        <!-- <ion-row>
            <ion-col>
                <ion-label class="lb-title">PDF COMPLETO DO ARTIGO</ion-label>
                <iframe [src]="selectedPaper?.link | safeUrl" width="100%" height="500px"></iframe>
            </ion-col>
        </ion-row> -->
    </ion-grid>
</div>
