<div>

    <details>
        <summary>
            <ion-label>ABSTRACTS</ion-label>
        </summary>
        <ion-grid>
            <ion-row *ngFor="let item of abstractLlist">
                <ion-col>{{item?.word}}</ion-col>
                <ion-col>{{item?.ocorrency}} vezes</ion-col>
            </ion-row>
        </ion-grid>
    </details>

    <details>
        <summary>
            <ion-label>PROBLEMAS IDENTIFICADOS</ion-label>
        </summary>
        <ion-grid>
            <ion-row *ngFor="let item of issueLlist">
                <ion-col>{{item?.word}}</ion-col>
                <ion-col>{{item?.ocorrency}} vezes</ion-col>
            </ion-row>
        </ion-grid>
    </details>

</div>