.icon-new {
    font-size: 50px;
    color: var(--ion-color-primary);
    --ionicon-stroke-width: 16px;
}

.members {
    font-size: 8pt;
    font-family: Qanelas-light;
    color: var(--ion-color-dark)
}

.title-project {
    font-size: 14pt;
    font-family: Qanelas-bold;
    color: var(--ion-color-primary)
}

@media only screen and (min-width: 500px) {
    ion-card {
        height: 150px;
        width: 200px
    }
}

@media only screen and (max-width: 500px) {
    ion-card {
        height: 200px;
        width: 300px
    }
}