.icon-new {
    font-size: 50px;
    color: var(--ion-color-primary);
    --ionicon-stroke-width: 16px;
}

.members {
    font-size: 8pt;
    font-family: Qanelas-light;
    color: var(--ion-color-dark)
}

ion-card {
    height: 150px;
}