<ion-spinner name="bubbles" *ngIf="isLoading"></ion-spinner>

<div class="div-item" lines="none" *ngIf="!isLoading">
    <div>
        <ion-label *ngIf="label" [ngClass]="{'noEditible': edit}">{{label | uppercase}}</ion-label>
        <ion-icon *ngIf="create" color="medium" (click)="createNew()" name="add-circle-outline"></ion-icon>
    </div>
    <ion-item>
        <ion-label *ngIf="!list">Sem Registros</ion-label>
        <ion-input [disabled]="edit" (keyup)="busca($event)" [value]="mySelect?.value"></ion-input>
        <ion-icon *ngIf="!edit" name="caret-down-outline" (click)="showOptions()"></ion-icon>
    </ion-item>

    <div *ngIf="multiple">
        <ion-chip *ngFor="let item of mySelectList" mod="ios" outline="true">
            <ion-label>{{item.value}}</ion-label>
            <ion-icon (click)="onRemoveMultiple(item)" name="close-outline"></ion-icon>
        </ion-chip>
    </div>
</div>

<div>
    <div [ngClass]="{'open-div': show}" *ngIf="show" (scroll)="onScroll($event)">
        <ion-radio-group [value]="mySelect?.id">
            <div class="div-list" *ngFor="let item of list | slice:0:limit ">
                <ion-label (click)="onSelect(item)" lines="none"> {{ item?.value | uppercase}}</ion-label>
                <ion-note>{{item?.info}}</ion-note>
            </div>
        </ion-radio-group>

    </div>
</div>