<ion-toolbar>
    <ion-buttons>
        <ion-button (click)="selectBase($event)" fill="outline">
            <ion-label>{{selectedBase ? selectedBase?.name : 'ESCOLHA UMA BASE'}}</ion-label>
        </ion-button>
    </ion-buttons>
</ion-toolbar>

<div *ngIf="!is_loading">
    <ion-grid *ngIf="selectedBase">

        <ion-row *ngIf="colsBase">
            <ion-col>
                <ion-label>SE DESEJAR PODE DESCARTAR UMA OU MAIS COLUNAS</ion-label>
                <ion-item (click)="unDoDeleteCols()" *ngIf="colsdeleted">
                    <ion-icon slot="end" class="undo" color="danger" name="return-up-back-outline"></ion-icon>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="colsBase">
            <ion-col class="col-table">
                <ion-chip (click)="deleteCol(i)" *ngFor="let item of colsBase; let i=index">
                    <br> {{item?.title}}
                    <ion-icon color="danger" name="close-outline"></ion-icon>
                </ion-chip>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col *ngIf="!fileName">
                <ion-label>TAMANHO MÁXIMO 2Mb POR ARQUIVO</ion-label>
                <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (onFileDrop)="onSelect()" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="drop-zone">
                    Arraste e Solte aqui..
                </div>

                <div class="file-input-container">
                    <label>
          <input type="file" ng2FileSelect [uploader]="uploader"  (onFileSelected)="onSelect()"/>
          Escolher arquivos
        </label>
                </div>
            </ion-col>

            <ion-col *ngIf="fileName">
                <ion-item lines="none">
                    <ion-label>Arquivo: {{fileName}}</ion-label>
                    <ion-label>Tamanho: {{size}} {{type}}</ion-label>

                </ion-item>
                <ion-item lines="none">
                    <ion-button (click)="clean()" color="danger">LIMPAR</ion-button>
                    <ion-button (click)="upload()" color="success">enviar arquivo</ion-button>

                    <!-- <ion-button slot="end" (click)="teste()" color="warning">teste</ion-button> -->
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label>String de busca</ion-label>
                <ion-textarea [value]="search_terms" (keyup)="onSetSearchTerms()" cols="5" rows="2" placeholder="Digite a string de busca utilizada para registro"></ion-textarea>
                <ion-note>{{search_terms?.length ? search_terms?.length : 0}}/500</ion-note>
            </ion-col>
        </ion-row>

    </ion-grid>
</div>
<ion-grid *ngIf="is_loading">
    <ion-row>
        <ion-col>
            <ion-label>PROGRESSO {{ progress | percent}}</ion-label>
            <ion-progress-bar [value]="progress"></ion-progress-bar>
        </ion-col>
        <ion-col>
            <ion-spinner name="bubbles" *ngIf="!uploaded"></ion-spinner>

            <ion-button fill="clear" (click)="clean()" *ngIf="uploaded">
                Enviar outro
            </ion-button>
        </ion-col>
    </ion-row>
</ion-grid>