.drop-zone {
    background-color: #f6f6f6;
    border: dotted 3px #dedddd;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.col-table {
    // border-right: 1px solid var(--ion-color-primary);
}

.undo {
    font-size: 40px;
    --ionicon-stroke-width: 40px;
}

.file-input-container {
    text-align: right;
    input[type="file"] {
        display: none;
    }
    label {
        border: 1px solid #ccc;
        padding: 6px 12px;
        cursor: pointer;
    }
}

.nv-file-over {
    border: dotted 5px green;
}

ion-textarea {
    border: 1px solid var(--ion-color-tertiary);
}