.open-div {
    width: 100%;
    height: 200px;
    overflow: auto;
    z-index: 2000;
    border: 1px dotted var(--ion-color-medium);
    box-shadow: 10px 10px 10px 10px var(--ion-color-medium);
}

//div que é expandida simulando o select list
.open-div ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.open-div::-webkit-scrollbar {
    width: 1em;
    border-radius: 20px;
    background: var(--ion-color-light);
}

.open-div::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--ion-color-primary);
}

.open-div::-webkit-scrollbar-corner {
    background: var(--ion-color-tertiary);
}

.open-div::-webkit-scrollbar-corner {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.open-div::-webkit-scrollbar-button:single-button {
    background-color: var(--ion-color-light);
    display: block;
    border-style: solid;
    height: 13px;
    width: 16px;
}

.open-div::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: var(--ion-color-light) var(--ion-color-light) var(--ion-color-primary) var(--ion-color-light);
}

.open-div::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 8px 0 8px;
    border-color: var(--ion-color-primary) var(--ion-color-light) var(--ion-color-light) var(--ion-color-light);
}

.lb-selecione {
    font-size: 8pt;
    color: var(--ion-color-medium);
}

.principal {
    font-size: 14pt;
    font-family: Qanelas;
    color: var(--ion-color-primary);
    font-weight: 900;
}

.secundario {
    font-size: 8pt;
    font-family: Qanelas;
    color: var(--ion-color-primary);
    font-weight: 900;
}

.div-item {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding: 5px;
    border-radius: 10px;
    margin-left: 20px;
    div {
        display: flex;
        ion-icon {
            margin-left: -20px;
        }
        app-info {
            margin-left: 10px;
        }
    }
    ion-input {
        margin-left: 10px;
    }
    ion-item {
        margin-left: -20px;
        ion-label {
            margin: 10px;
        }
        ion-icon {
            position: absolute;
            right: 25px;
            bottom: 15px;
            z-index: 2000;
        }
    }
    ion-icon {
        font-size: 20px;
        padding-left: 50px;
    }
}

.div-list-multiple {
    width: 90%;
}