<div class="div-item" lines="none">
    <div>
        <ion-label *ngIf="!selected" [ngClass]="{'principal': is_userList, 'secundario':!is_userList}">{{label | uppercase}}</ion-label>
        <ion-label position="floating" *ngIf="!selected">Selecione</ion-label>
    </div>
    <ion-item>
        <ion-input (keyup)="busca(inputSearch.value)" [value]="selected | uppercase" #inputSearch></ion-input>
        <ion-icon *ngIf="is_userList" src="./assets/icons/search-bar.svg" (click)="busca(inputSearch.value)"></ion-icon>
        <ion-icon *ngIf="!is_userList" name="caret-down-outline" (click)=" show = !show"></ion-icon>

    </ion-item>
</div>

<div *ngIf="!multiple">
    <div [ngClass]="{'open-div': show}" *ngIf="show" (scroll)="onScroll($event)">
        <ion-radio-group [value]="selected_id">
            <ion-list-header>
                <ion-label class="lb-selecione">ESCOLHA UMA OPÇÃO</ion-label>
            </ion-list-header>
            <ion-item (click)="onSelect(item)" class="item-search" *ngFor="let item of list | slice:0:limit " lines="none">
                <ion-label class="lb-list"> {{ item?.value | uppercase}}</ion-label>
                <ion-radio slot="start" value="{{item?.cod}}"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </div>
</div>

<div *ngIf="multiple">
    <div [ngClass]="{'open-div': show}" *ngIf="show" (scroll)="onScroll($event)">
        <ion-radio-group [value]="selected_id">
            <ion-list-header>
                <ion-label class="lb-selecione">SELECIONE</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let item of list | slice:0:limit " lines="none">
                <ion-item class="div-list-multiple" lines="none">
                    <ion-checkbox [checked]="item?.checked" slot="start" (ionChange)="onSelectMultiple(item,checkSelect.checked)" #checkSelect></ion-checkbox>
                    <ion-label class="lb-list"> {{ item?.value | uppercase}}</ion-label>
                </ion-item>
            </ion-item>
        </ion-radio-group>
    </div>
</div>