<ion-toolbar>
    <ion-button fill="clear" (click)="back()">
        <ion-icon class="back-button" slot="start" name="chevron-back-outline"></ion-icon>
        <ion-label>VOLTAR</ion-label>


    </ion-button>

    <ion-buttons slot="end">
        <ion-spinner name="bubbles" *ngIf="updatting"></ion-spinner>
        <ion-button (click)="update()" *ngIf="!updatting" fill="clear">
            <ion-icon name="save-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>


<ion-spinner name="bubbles" *ngIf="!loading"></ion-spinner>
<div *ngIf="loading">
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="div-title">
                    <p> {{ paper?.title | uppercase}}</p>
                    <ion-note>{{paper?.authors}}</ion-note>
                    <ion-note *ngIf="paper?.doi">Doi: {{paper?.doi}}</ion-note>
                    <ion-note>Ano: {{paper?.publication_year}}</ion-note>
                    <ion-note>link: {{paper?.link}}</ion-note>
                </div>

            </ion-col>
        </ion-row>

        <ion-row class="abstract">
            <ion-col>
                <ion-item>
                    <ion-title>Abstract</ion-title>
                    <ion-button (click)="decrease()">
                        <ion-icon name="remove-outline"></ion-icon>
                    </ion-button>
                    <ion-button (click)="increase()">
                        <ion-icon name="add-outline"></ion-icon>
                    </ion-button>
                    <ion-icon slot="end" src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" (click)="openSciHub()"></ion-icon>

                </ion-item>
                <ion-text>
                    <p [ngStyle]="{'font-size': abstract_size+'pt'}">{{paper?.abstract}}</p>
                </ion-text>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-title></ion-title>
                <ion-radio-group [value]="paper?.relevance" mod="ios" (ionChange)="setRelevance($event)">
                    <ion-list-header>
                        <ion-label>*Relevância</ion-label>
                    </ion-list-header>
                    <div class="relevance">

                        <div lines='none'>
                            <ion-label>Baixa</ion-label>
                            <ion-radio slot="start" value="1"></ion-radio>
                        </div>

                        <div lines='none'>
                            <ion-label>Média</ion-label>
                            <ion-radio slot="start" value="2"></ion-radio>
                        </div>

                        <div lines='none'>
                            <ion-label>Alta</ion-label>
                            <ion-radio slot="start" value="3"></ion-radio>
                        </div>
                    </div>

                </ion-radio-group>
            </ion-col>
            <ion-col>
                <ion-item lines='none'>
                    <ion-icon slot="end" color="primary" name="star-outline" *ngIf="!paper?.star" (click)="setStar()"></ion-icon>
                    <ion-icon slot="end" color="primary" name="star-sharp" *ngIf="paper?.star" (click)="setStar()"></ion-icon>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row class="issue">
            <ion-col>
                <ion-title>*Problema abordado</ion-title>
                <ion-textarea rows="5" cols="5" maxlength="2000" [value]="paper?.issue" (keyup)="setIssue($event)"></ion-textarea>
                <ion-note>{{paper?.issue?.length}}/2000</ion-note>
            </ion-col>
        </ion-row>

        <ion-row class="issue">
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Expressões chave relacionadas</ion-label>
                    <ion-input placeholder="Digite as palavras ou expressões chave relacionadas ao trabalho" #observationInput (keyup.enter)="setObservation($event, observationInput)"></ion-input>
                </ion-item>

                <ion-chip *ngFor="let obs of observations; let i=index" mod="ios" outline="true">
                    <ion-label>{{obs}}</ion-label>
                    <ion-icon (click)="onRemoveObservation(i)" name="close-outline"></ion-icon>
                </ion-chip>
            </ion-col>

        </ion-row>
    </ion-grid>

</div>