<ion-content [fullscreen]="true">
    <ion-toolbar>
        <!-- <ion-button color="dark"> -->
        <ion-icon class="back-button" (click)="back()" slot="start" name="chevron-back-outline"></ion-icon>
        <!-- </ion-button> -->
        <ion-icon class="image-right" slot="end" src="./assets/images/shield.svg"></ion-icon>
    </ion-toolbar>

    <div class="lb-box">
        <p class="title">RECUPERAR <br> SENHA</p>
        <p class="sub-title">Digite o e-mail cadastrado ou seu cpf, que vamos enviar um código para você recuperar seu acesso</p>

    </div>

    <div class="inputs-box">
        <ion-item>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input type="email" (keyup.enter)="send()" [(ngModel)]="email"></ion-input>
        </ion-item>
        <a href="#" (click)="haveCode()">Já tenho um código</a>

    </div>
    <ion-button class="btn-entrar" color="tertiary" (click)="send()">ENVIAR</ion-button>

</ion-content>