<ion-content class="content">
    <ion-toolbar>
        <!-- <ion-button color="dark"> -->
        <ion-icon class="back-button" (click)="back()" slot="start" name="chevron-back-outline"></ion-icon>
        <!-- </ion-button> -->
        <ion-icon class="image-right" slot="end" src="./assets/images/shield.svg"></ion-icon>
    </ion-toolbar>
    <div class="body-div">
        <p class="lb-title">
            DIGITE O <br>
            <strong class="lb-subtitle">
            CÓDIGO QUE VOCÊ
            <BR> RECEBEU NO E-MAIL
        </strong>
        </p>


        <ion-progress-bar *ngIf="cod.length==6" value="0.25" buffer="0.5"></ion-progress-bar>
        <ion-grid *ngIf="cod.length<6">
            <ion-row>
                <ion-col>
                    <ion-input type="text" [value]="cod2[0]" maxlength="6" (keyup)="checkCod(0, $event)"></ion-input>

                </ion-col>
                <ion-col>
                    <ion-input type="text" [value]="cod2[1]" maxlength="1" (keyup)="checkCod(1, $event)"></ion-input>

                </ion-col>
                <ion-col>
                    <ion-input type="text" [value]="cod2[2]" maxlength="1" (keyup)="checkCod(2, $event)"></ion-input>

                </ion-col>
                <ion-col>
                    <ion-input type="text" [value]="cod2[3]" maxlength="1" (keyup)="checkCod(3, $event)"></ion-input>

                </ion-col>
                <ion-col>
                    <ion-input type="text" [value]="cod2[4]" maxlength="1" (keyup)="checkCod(4, $event)"></ion-input>

                </ion-col>
                <ion-col>
                    <ion-input type="text" [value]="cod2[5]" maxlength="6" (keyup)="checkCod(5, $event)"></ion-input>

                </ion-col>
            </ion-row>
        </ion-grid>

    </div>

    <div class="buttons-bottom">

        <ion-button class="reenviar" (click)="resend()" color="danger">
            <ion-label>RE-ENVIAR E-MAIL</ion-label>
        </ion-button>

        <a href="#">BY ENGINY DIGITAL-ECO</a>
    </div>
</ion-content>