.search {
    --background: var(--ion-color-medium-tint);
    ion-searchbar {
        --border-radius: 20px;
    }
}

.me {
    --background: var(--ion-color-medium)
}

.users {
    ion-label {
        font-size: 16px;
        font-family: Qanelas-bold;
        margin: 10px;
        color: var(--ion-color-dark)
    }
    ion-note {
        font-size: 12px;
        font-family: Qanelas-light;
        margin: 10px;
        color: var(--ion-color-dark)
    }
    ion-row {
        border-bottom: 1px solid var(--ion-color-medium);
    }
    .audio {
        float: right;
    }
    .favorite {
        float: right;
    }
}

.scroll-grid {
    border-radius: 40px;
    width: 100%;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

//div que é expandida simulando o select list
.scroll-grid ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scroll-grid::-webkit-scrollbar {
    width: 0.5em;
    border-radius: 20px;
    background: var(--ion-color-light);
}

.scroll-grid::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--ion-color-primary);
}

.scroll-grid::-webkit-scrollbar-corner {
    background: var(--ion-color-tertiary);
}

.scroll-grid::-webkit-scrollbar-corner {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scroll-grid::-webkit-scrollbar-button:single-button {
    background-color: var(--ion-color-light);
    display: block;
    border-style: solid;
    height: 13px;
    width: 16px;
}

.scroll-grid::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: var(--ion-color-light) var(--ion-color-light) var(--ion-color-primary) var(--ion-color-light);
}

.scroll-grid::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 8px 0 8px;
    border-color: var(--ion-color-primary) var(--ion-color-light) var(--ion-color-light) var(--ion-color-light);
}