<ion-content>
    <ion-toolbar>
        <ion-icon class="back-button" (click)="back()" slot="start" name="chevron-back-outline"></ion-icon>
        <ion-icon class="image-right" slot="end" src="./assets/images/shield.svg"></ion-icon>
    </ion-toolbar>

    <ion-item lines="none">
        <ion-label class="title">NOVA SENHA</ion-label>
    </ion-item>
    <div class="inputs-box">
        <ion-grid>
            <ion-row>
                <ion-col size="10">
                    <ion-item>
                        <ion-label position="floating">Nova Senha</ion-label>
                        <ion-input (keyup)="checkRoles(nova.value)" #nova [type]="typePassword1"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="2">
                    <ion-icon *ngIf="show1" name="eye-outline" (click)="showPassword(1)"></ion-icon>
                    <ion-icon *ngIf="!show1" name="eye-off-outline" (click)="showPassword(1)"></ion-icon>
                </ion-col>
            </ion-row>

        </ion-grid>
        <div disabled>
            <div class="check-item">
                <ion-checkbox [checked]="check1" disabled></ion-checkbox>
                <ion-label class="lb-checkbox">Ter pelo menos uma (01) letra MAIÚSCULA.</ion-label>
            </div>

            <div class="check-item">
                <ion-checkbox [checked]="check2" disabled></ion-checkbox>
                <ion-label class="lb-checkbox">Ter pelo menos uma (01) letra minúscula.</ion-label>
            </div>

            <div class="check-item">
                <ion-checkbox [checked]="check3" disabled></ion-checkbox>
                <ion-label class="lb-checkbox">Ter pelo menos um (01) número.</ion-label>
            </div>

            <div class="check-item">
                <ion-checkbox [checked]="check4" disabled></ion-checkbox>
                <ion-label class="lb-checkbox">Ter pelo menos um (01) caractere especial (!@$%&).</ion-label>
            </div>

            <div class="check-item">
                <ion-checkbox [checked]="check5" disabled></ion-checkbox>
                <ion-label class="lb-checkbox">Tamanho mínimo: Oito (08) caracteres.</ion-label>
            </div>
        </div>


        <ion-grid>
            <ion-row>
                <ion-col size="10">
                    <ion-item>
                        <ion-label position="floating">Confirmar Senha</ion-label>
                        <ion-input (keyup.enter)="alterarSenha()" (ionFocus)="setEditing()" (ionBlur)="setEditing()" [type]="typePassword2" [(ngModel)]="password2"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="2">
                    <ion-icon *ngIf="show2" name="eye-outline" (click)="showPassword(2)"></ion-icon>
                    <ion-icon *ngIf="!show2" name="eye-off-outline" (click)="showPassword(2)"></ion-icon>

                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-label class="erro" *ngIf="diferentes" color="danger">Erro: Senhas diferentes</ion-label>
    </div>

    <ion-button class="btn-redefinir" [disabled]="btnDisable" (click)="alterarSenha()" color="medium">
        <ion-label>REDEFINIR</ion-label>
    </ion-button>
    <a href="#">BY ENGINY DIGITAL-ECO</a>

</ion-content>