@media (max-width: 500px) {
    .div-title {
        width: 100%;
        margin: 5px;
        display: grid;
        align-items: flex-start;
        p {
            margin-right: 60px;
            width: 300px;
            font-size: 12pt;
            font-family: Qanelas-bold;
        }
        ion-note {
            margin: 5px;
            font-size: 10pt;
            font-family: Qanelas-light;
            color: var(--ion-color-tertiary)
        }
    }
    .lb-title {
        margin: 15px;
        font-family: Qanelas;
        font-size: 12pt;
        font-weight: 900;
        text-align: center;
        color: var(--ion-color-primary);
    }
}

@media (min-width: 500px) {
    .lb-title {
        margin: 15px;
        font-family: Qanelas;
        font-size: 20pt;
        font-weight: 900;
        text-align: center;
        color: var(--ion-color-primary);
    }
}

.progress {
    position: fixed;
}

.spinner {
    text-align: center;
    margin: 20%;
    ion-spinner {
        margin-top: 25px;
        color: var(--ion-color-primary)
    }
    ion-label {
        margin: 1px;
        font-size: 24pt;
        font-family: Qanelas-bold;
        color: var(--ion-color-primary);
    }
}

ion-segment {
    background: var(--ion-color-medium);
    color: var(--ion-color-primary);
}

.upload {
    border-radius: 20px;
    background: var(--ion-color-primary);
    ion-label {
        margin: 10px;
        color: var(--ion-color-light);
    }
    ion-icon {
        color: var(--ion-color-light);
    }
}

.cancel {
    border-radius: 20px;
    background: var(--ion-color-danger);
    ion-label {
        margin: 10px;
        color: var(--ion-color-light);
    }
}

.div-title {
    margin: 5px;
    display: grid;
    align-items: flex-start;
    p {
        font-size: 12pt;
        font-family: Qanelas-bold;
    }
    ion-note {
        margin: 5px;
        font-size: 10pt;
        font-family: Qanelas-light;
        color: var(--ion-color-tertiary)
    }
}

pdf-viewer {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px #222222);
}

.abstract {
    ion-title {
        font-family: Qanelas-bold;
    }
}

ion-text {
    p {
        width: 100%;
        text-align: justify;
    }
}

.relevance {
    display: flex;
    div {
        margin: 10px;
        ion-label {
            margin: 10px;
        }
        ion-icon {
            margin: 10px;
        }
    }
}

.issue {
    ion-textarea {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: justify;
        border: 1px dotted var(--ion-color-tertiary);
    }
}

.star-sharp {
    font-size: 40px;
    color: yellow;
}

.set-paper {
    display: flex;
    align-content: center;
    ion-input {
        box-shadow: 2px 2px 2px 2px var(--ion-color-medium);
        min-width: 100px;
    }
    ion-label {
        margin: 10px;
    }
}