<div class="general">
    <ion-item lines="none" class="title" *ngIf="!is_cordova">
        <ion-label color="light" class="title">
            Systematic Reviews
        </ion-label>
    </ion-item>


    <div class="title" *ngIf="is_cordova">
        <p color="light">
            Systematic Reviews
        </p>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button (click)="login(1)" fill="clear" class="btn btn-google">
                    <ion-img class="img-google" src="./assets/images/google.webp"> </ion-img>
                    <ion-label>CONTINUAR</ion-label>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="login(2)" fill="clear" class="btn-facebook">
                    <ion-icon color="light" name="logo-facebook"></ion-icon>
                    <ion-label color="light">CONTINUAR</ion-label>

                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>

            <ion-col>
                <ion-button (click)="option('registro')" fill="outline" class="btn" color="light">
                    REGISTRAR-SE
                </ion-button>
            </ion-col>
        </ion-row>

    </ion-grid>
</div>
