.general {
    width: 100%;
    height: 100%;
    background-color: var(--ion-color-primary);
    overflow-y: auto;
    position: absolute;
    top: 0px;
}

ion-col {
    display: grid;
    align-content: center;
    align-items: center;
    text-align: center;
}

ion-grid {
    position: absolute;
    bottom: 0px;
    left: 2%;
    right: 5%;
}

.img-google {
    width: 20px;
    height: 20px;
}

//buttons
ion-button {
    border-radius: 40px;
}

.btn-google {
    background-color: white;
    ion-label {
        font-family: Qanelas-bold;
        margin-left: 5%;
    }
}

.btn-facebook {
    margin-left: 5%;
    background-color: blue;
    ion-label {
        font-family: Qanelas-bold;
        margin-left: 5%;
    }
}

.progress {
    text-align: center;
    margin: 20%;
    ion-spinner {
        margin-top: 25px;
        color: var(--ion-color-light)
    }
    ion-label {
        margin: 1px;
        font-size: 24pt;
        font-family: Qanelas-bold;
        color: var(--ion-color-light);
    }
}

//items
ion-item {
    --background: transparent;
}

@media only screen and (max-width: 500px) {
    .title {
        width: 100%;
        text-align: center;
        p {
            color: white;
            font-family: raustila;
            font-size: 42pt;
        }
    }
}

@media only screen and (min-width: 500px) {
    .title {
        text-align: center;
        ion-label {
            font-family: raustila;
            font-size: 60pt;
        }
    }
}