<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" class="menu-left">
            <ion-item lines="none">
                <ion-img src="./assets/icon/favicon.webp" class="menu-logo"></ion-img>
            </ion-item>
        </ion-buttons>
        <ion-buttons slot="end" class="menu-right">
            <ion-list lines="none">
                <ion-item>
                    <ion-avatar>
                        <ion-img [src]="socialUser?.photoUrl "></ion-img>
                    </ion-avatar>
                </ion-item>
                <ion-item>
                    <ion-label>{{ user?.name }}</ion-label>

                </ion-item>

            </ion-list>


        </ion-buttons>


    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="content">
            <ion-col [size]="menu_size_left" color="primary" class="menu-lateral" *ngIf="showMenu">
                <ion-icon src="./assets/icons/menu.svg" (click)="showMenu = !showMenu"></ion-icon>
                <ion-grid>
                    <ion-row *ngFor="let item of menu_itens; let i=index">
                        <ion-col>
                            <ion-item lines="none" color="primary">
                                <ion-button fill="clear" (click)="selectPage(i, item)">
                                    <ion-label class="name">{{item?.name}}</ion-label>
                                </ion-button>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>

            <ion-col [size]="menu_size_right">
                <ion-icon *ngIf="!showMenu" color="primary" name="menu-sharp" (click)="setShowMenu()"></ion-icon>

                <app-projects *ngIf="page==='0'"></app-projects>
                <app-transmission *ngIf="page==='1'"></app-transmission>
                <app-chat *ngIf="page==='2'"></app-chat>
                <app-tutorial *ngIf="page==='3'"></app-tutorial>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>
</ion-content>