<ion-toolbar>
    <ion-buttons>
        <ion-button fill="clear" (click)="back()">
            <ion-icon class="back-button" slot="start" name="chevron-back-outline"></ion-icon>
            <ion-label>VOLTAR</ion-label>
        </ion-button>

    </ion-buttons>

</ion-toolbar>

<div>
    <ion-fab vertical="center" horizontal="end" slot="fixed">
        <ion-fab-button (click)="update()">
            <ion-icon name="save"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item lines="none">
                    <ion-label class="lb-title">Editar Protocolo</ion-label>

                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label>Nome do projeto</ion-label>
                <ion-input rows="5" cols="5" [value]="review?.title" (keyup)="setTitle($event)"></ion-input>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col>
                <app-my-select-list [multiple]="true" [edit]="false" [create]="false" label="*colaboradores" listName="members" (selectEmiter)="onSelectMembers($event)"></app-my-select-list>
            </ion-col>
        </ion-row>
        <ion-row class="issue">
            <ion-col>
                <ion-label>Perqunta que a pesquisa visa responder</ion-label>
                <ion-textarea rows="5" cols="5" [value]="review?.question" (keyup)="setQuestion($event)"></ion-textarea>
            </ion-col>
        </ion-row>

        <ion-row class="issue">
            <ion-col>
                <ion-label>Pano de fundo da pesquisa</ion-label>
                <ion-textarea rows="5" cols="5" [value]="review?.description" (keyup)="setBackground($event)"></ion-textarea>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <div class="info">
                    <ion-label>Os critérios de inclusão serão usados para classificar os estudo, dado maior peso para os dois peimeiros critérios. Desse modo, insira os critários por ordem de importância para seu projeto</ion-label>
                </div>
                <ion-item>
                    <ion-label position="floating">Critérios de inclusão</ion-label>
                    <ion-input placeholder="Digite e pressione enter para inserir à lista" #IncludeCriteriaInput (keyup.enter)="setIncludeCriteria($event, IncludeCriteriaInput)"></ion-input>
                </ion-item>

                <ion-chip *ngFor="let item of include_criteria; let i=index" mod="ios" outline="true">
                    <ion-label>{{item}}</ion-label>
                    <ion-icon (click)="onRemoveIncludeCriteria(i)" name="close-outline"></ion-icon>
                </ion-chip>
            </ion-col>

        </ion-row>
        <ion-row class="issue">
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Critérios de Exclusão</ion-label>
                    <ion-input placeholder="Digite e pressione enter para inserir à lista" #ExcludeCriteriaInput (keyup.enter)="setExcludeCriteria($event, ExcludeCriteriaInput)"></ion-input>
                </ion-item>

                <ion-chip *ngFor="let item of exclude_criteria; let i=index" mod="ios" outline="true">
                    <ion-label>{{item}}</ion-label>
                    <ion-icon (click)="onRemoveExcludeCriteria(i)" name="close-outline"></ion-icon>
                </ion-chip>
            </ion-col>

        </ion-row>
    </ion-grid>
</div>